# Python
__pycache__/
*.py[cod]
*$py.class
.venv/

# Environment Variables
.env

# Node/React
node_modules/
dist/
build/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
backend/api/venv/
backend/api/venv/
__pycache__/
